.content {
    max-width: 40rem;
    margin: 2.5rem auto 2.5rem auto;
    padding-top: 7rem;

    @media (max-height: 667px) {
        padding-top: 16rem;
    }

    @media (min-width: 1024px) {
        max-width: 50rem;
        margin: 10rem auto 0 auto; 
        padding: 0;          
    }

    @media (min-width: 1200px) {
        max-width: 57rem;
        margin: 12.5rem auto 0 auto;
        padding: 0;     
    }
    
}
