.container {
    position: relative;

    @media (min-width: 1024px) {
        padding: 5.5rem 4.1rem 0 3.6rem;
        height: 100%;
    }
}

.main {
    width: 27rem;
    margin: 2.5rem auto 2.5rem auto;
    padding-top: 7rem;

    @media (min-width: 1024px) {
        width: 48%;
        margin: 10rem auto 0 auto; 
        padding: 0;          
    }
}

.symbol-square {
    display: block;
    margin: 2.3rem auto;
    height: 6.4rem;
    width: 6.4rem;
    transition:  2s;
    cursor: pointer;

    @media (min-width: 1024px) {
        height: 8rem;
        width: 8rem;
        margin: 9rem auto 12rem auto;
    }
}


.social-box {    

    height: 10.5rem;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;

    @media (min-width: 1024px) {
        margin: .5rem auto;
        height: 6rem;
        padding: 0 4rem;
        flex-direction: row;
        align-content: center;
    }


    &__img {
        margin-right: 1rem;
        &--fb {
            width: 1.6rem;
            height: 1.6rem;
        }

        &--twt {
            width: 1.6rem;
            height: 1.2rem;
        }

        &--goo {
            width: 1.6rem;
            height: 1.1rem;
        }

    } 

    &__link {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Open Sans', serif;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        @media (min-width: 1024px) {
            font-weight: 200;
        }

    }
}

.menu {
    display: flex;
    flex-direction: row;
    z-index: 3000;

    &__span {
        display: none;
    }
}

.display {
    display: none;
}

.plus {        
    z-index: 3000;
    text-align: center;
    font-size: 2.6rem;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 10%);
    position: fixed;
    color: var(--color-black);
    position: fixed;

    @media (min-width: 1024px) {
        display: none;
    }
}

.more {
    display: none;
    z-index: 3000;
    text-align: center;
    font-size: 1.1rem;
    bottom: 0;
    font-weight: 600;
    right: 50%;
    transform: translate(50%, -100%);
    position: fixed;
    color: var(--color-black);
    text-transform: uppercase;

    @media (min-width: 1024px) {
        display: initial;
    }
}

.triangle {  
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
    border-radius: 10%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    transform: translate(50%, -50%) rotate(45deg);
    position: fixed;
    bottom: -4.5rem;
    right: 50%;

    @media (min-width: 1024px) {
        width: 7rem;
        height: 7rem;
        bottom: -7rem;
    }
}
